
/* Code Here */
.services {
  min-height: 800px;
}
.bg-forestgreen {
  background-color: forestgreen;
}
.bg-olivedrab {
  background-color: olivedrab;
}
.bg-greenyellow {
  background-color: greenyellow;
}
.bg-limegreen {
  background-color: limegreen;
}
.bg-dodgerblue {
  background-color: dodgerblue;
}
.bg-cstgainsboro {
  background-color: #DFE3E1;
}
.bg-cstmincream {
  background-color: #F8FAF9;
}
.text-justify {
  text-align: justify;
}
.same-line {
  line-height: 1.5em;
  height: 14em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden;
}
body {
  min-height: 1000px;
}
.no-link {
  text-decoration: none;
}
